<!DOCTYPE html>
<html>
  <%- include('partials/head')  %> 
  <body>
    <%- include('partials/navbar')  %> 

    <%- include('partials/header')  %> 


    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">

          <h1 class="ps-center"><%- platillo.name  %> </h1>
          <br />
          <h4><%- (platillo.description != "") ? platillo.description : "Plato Tipico" %> </h4>
          <p class="ps-text-grey">
            U$S <%- platillo.price  %> 
          </p>

        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/images/<%- platillo.image %> "
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>
      </div>

      <%- include('partials/footer')  %> 
    </div>
  </body>
</html>
